<div class="login-container">
    <h2 class="login-title">Connexion</h2>
    <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm" class="login-form">
      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Adresse Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          placeholder="Entrez votre email"
          class="form-control"
        />
        
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Mot de Passe</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          required
          placeholder="Entrez votre mot de passe"
          class="form-control"
        />
       
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        Se connecter
      </button>
    </form>
  
    <div class="register-link">
      <p>Vous n'avez pas de compte ? <a routerLink="/register">S'inscrire</a></p>
    </div>
  </div>
  