<section>
    <div class="main_container">
      <div class="content">
        <h2>Bienvenue sur notre site de catégories</h2>
        <p>
          Découvrez une multitude de catégories diverses pour tous vos besoins. </p>
          <p>Que vous cherchiez des produits, des services, ou des événements, notre site vous propose une large sélection organisée par catégories.<br>
         <p> Utilisez la barre de recherche pour trouver la catégorie qui vous intéresse ou explorez les catégories populaires ci-dessous.</p>
           <p>Nous sommes ravis de vous aider à trouver exactement ce que vous recherchez.
        </p>
        <button routerLink="/listCategories">Explorer les catégories</button>
        
      </div>
      
    </div>
  </section>
  